.about-section {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: $sectionbgColor;
  @media screen and (min-width: 768px) {
    padding-top: 125px;
    padding-bottom: 0px;
  }
}

.about-container_position {
  position: relative;
}

.about-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__text-container {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    padding-left: 0px;
    padding-right: 0px;
    width: 340px;
    padding-top: 40px;
    margin-left: 17px;
    flex-shrink: 2222;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-left: 74px;
  }
}

.about__pre-title {
  font-family: Titan One;
  @include fonts(18px, 21px, 400, 0);
  text-align: center;
  text-transform: uppercase;
  color: $titleColor;
  margin-bottom: 15px;
  @media screen and (min-width: 767px) {
    @include fonts(26px, 30px, 400, 0);
  }
}

.about__title {
  font-family: Titan One;
  @include fonts(34px, 39px, 400, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: $accentColor;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    @include fonts(48px, 55px, 400, 0.04em);
    margin-bottom: 50px;
  }
}

.about__image-cow {
  background-image: url(/images/about-cow-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 46px;
  // max-height: 100%;
  // max-width: 100%;
  width: 280px;
  height: 280px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/about-cow-mobile2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(/images/about-cow-tablet.png);
    height: 339px;
    width: 340px;
    margin-bottom: 0px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/about-cow-tablet2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/about-cow-desktop.png);
    height: 516px;
    width: 516px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/about-cow-desktop2x.png);
    }
  }
}

.about__text {
  @include fonts(12px, 19px, 500, 0);
  position: sticky;
  z-index: 3;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  &_black {
    color: $secondaryTextColor;
    margin-bottom: 40px;
  }
  &_gray {
    color: $rareColor;
  }
  &_indent {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    @include fonts(14px, 25px, 500, 0.04em);
  }
  @media screen and (min-width: 1280px) {
  }
}

.about__text:nth-last-child(-n + 3) {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 42px;
  }
}

.about__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
  transition-delay: 0.2s;
}

.about__button-link {
  max-width: 176px;
  background: $primaryTextColor;
  border-radius: 22px;
  display: inline-flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  z-index: 80;
  position: sticky;
  border: transparent;
  padding: 12px 39px 12px 36px;
  @include fonts(14px, 18px, 700, 0);
  color: $accentColor;
  align-items: center;
  transition: background-color $animation;
  &:hover,
  &:focus {
    background-color: $secondaryhoverBtn;
  }
}

.about__button-icon {
  margin-left: 13px;
}

.about__image-milk {
  display: block;
  position: absolute;
  top: 82%;
  left: -5%;
  right: -7%;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translateY(-50%);

  @media screen and (min-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    top: 75%;
    left: -11%;
    right: -11%;
  }
}

.about__image-milk._active {
  opacity: 1;
  transform: translateY(-50%);
  transition: all 0.8s ease 0.7s;
}
