.section {
    padding-bottom: 97px;
    background-color: $sectionbgColor;
}
.advantage-list {
    padding-left: 0;
    padding-right: 0;
}
.advantage-list__item {
    width: 230px;
    margin-bottom: 38px;
}
.advantage-list__icon {
    margin-bottom: 16px;
}
.advantage-list__title {
font-family: Titan One;
@include fonts(36px, 41px, 400, 0.04em);
text-transform: uppercase;
color: $accentColor;
height: 50px;
}
.advantage-list__text {
font-weight: 700;
font-size: 12px;
line-height: 1.66;
color: $secondaryTextColor;
}
