.contact {
  @media screen and (min-width: 320px) {
    background: linear-gradient(180deg, #ffffff 6%, #fff5f6 0, #ffffff 0, #fff5f6 0%);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 113px;

    @media screen and (min-width: 768px) {
      background: linear-gradient(180deg, #ffffff 11%, #fff5f6, #ffffff, #fff5f6 0%);
      padding-bottom: 158px;
    }
  }
  @media screen and (min-width: 1280px) {
    background: linear-gradient(180deg, #ffffff 13%, #fff5f6, #ffffff, #fff5f6 0%);
    padding-bottom: 165px;
  }
}

.contacts {
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    margin-bottom: 81px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    background-position-y: 100px;
    margin-bottom: 86px;
    background-image: url(/images/contacts-bg1x.png);
    justify-content: center;
    background-repeat: no-repeat;
  }
}

.contacts__section {
  width: 220px;
  height: 427px;
  background: $primaryTextColor;
  box-shadow: $cardsShadow;
  border-radius: 24px;
  padding: 43px 20px 43px 21px;
  margin-bottom: 20px;
  text-align: start;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 544px;
    margin-bottom: 0px;
    margin-right: 20px;
    padding: 50px 32px 50px 31px;
    margin-left: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 572px;
    margin-bottom: 0;
    margin-right: 31px;
    padding: 51px 44px 62px 43px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.contacts__top {
  @media screen and (min-width: 1280px) {
    width: 100%;
    height: 100px;
    background: $primaryTextColor;
    position: relative;
    z-index: 9999;
    background-image: url(/images/contacts-bg1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      max-width: 1600px;
      background-image: url(/images/contacts-bg2x.png);
    }
  }
}

.contacts__section-last {
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}

.contacts__category {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  border-radius: 6px;
  background-color: $vanillabgColor;
  color: $primaryTextColor;
  margin-bottom: 25px;
  display: inline-flex;
  padding: 5px 10px 5px 10px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.category-green {
  background-color: #c2e297;
}

.contacts__categorycity {
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.5;
  color: $secondaryTextColor;
  margin-bottom: 10px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__describe {
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    padding-bottom: 32px;
  }
}

.contacts__list-schedule {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__timeday {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $secondaryTextColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $pinkbgCircle;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__time-weekend {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $pinkbgCircle;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.contacts__list {
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}

.contacts__item {
  list-style: none;
}

.contacts__mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// COLLABORATION

.collaboration__btn {
  background: #d41342;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: transparent;
  color: $primaryTextColor;
  width: 161.45px;
  height: 44px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 191.45 px;
    height: 44px;
    margin-bottom: 0px;
    margin-right: 14.5px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
    height: 44px;
    margin-right: 15px;
  }

  &:hover,
  &:focus {
    background-color: #c7133e;
    cursor: pointer;
  }
}

.collaboration__btntwo {
  background: $primaryTextColor;
  border-radius: 22px;
  font-family: DM Sans;
  width: 161.45px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: transparent;
  color: $accentColor;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 174.05px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 44px;
  }

  &:hover,
  &:focus {
    background-color: $secondaryhoverBtn;
    cursor: pointer;
  }
}

.collaboration__list {
  background: $sectionbgColor;
  display: grid;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.collaboration__svg {
  width: 4px;
  height: 8px;
  color: $primaryTextColor;
  margin-left: 10px;
}

.collaboration__svg-red {
  width: 4px;
  height: 8px;
  color: $accentColor;
  margin-left: 10px;
}
