.contact {
  @media screen and (min-width: 320px) {
    background: linear-gradient(180deg, #ffffff 7%, #fff5f6 0, #ffffff 0, #fff5f6 0%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    @media screen and (min-width: 768px) {
      background: linear-gradient(180deg, #ffffff 15%, #fff5f6, #ffffff, #fff5f6 0%);
    }
  }
}

.contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__section {
  width: 220px;
  height: 427px;
  background: $primaryTextColor;
  box-shadow: $cardsShadow;
  border-radius: 24px;
  padding: 43px 20px 43px 21px;
  margin-bottom: 20px;
  text-align: start;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 544px;
    margin-bottom: 81px;
    margin-right: 20px;
    padding: 50px 32px 50px 31px;
    margin-left: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 572px;
    margin-bottom: 0;
    margin-right: 31px;
    padding: 51px 44px 62px 43px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.contacts__top {
  @media screen and (min-width: 1280px) {
    width: 100%;
    height: 100px;
    background: $primaryTextColor;
    position: relative;
    z-index: 9999;
  }
}

.contacts__bottom {
  @media screen and (min-width: 1280px) {
    width: 100%;
    height: 81px;
    background: $sectionbgColor;
    position: relative;
    z-index: 9999;
  }
}

.contacts__section-last {
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}

.contacts__overlay {

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: $sectionbgColor;
    background-position-y: 102px;
    justify-content: center;
//     background-image: url(/images/contacts-bg1x.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 573px;
//     background-image: url(/images/contacts-bg1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      max-width: 1600px;
      // background-image: url(/images/contacts-bg2x.png);
    }
  }
}

.contacts__category {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  border-radius: 6px;
  background-color: $vanillabgColor;
  color: $primaryTextColor;
  margin-bottom: 25px;
  display: inline-flex;
  padding: 5px 10px 5px 10px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.contacts__categorycity {
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.5;
  color: $secondaryTextColor;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__describe {
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__describe::after {
  content: '';
  height: 0px;
  border: 1px solid#e1e1e1;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #e1e1e1;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.contacts__timeday {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $secondaryTextColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $pinkbgCircle;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__time-weekend {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $pinkbgCircle;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.contacts__list::before {
  content: '';
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #e1e1e1;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts__list {
  padding: 0;
}

.contacts__item {
  list-style: none;
}

.contacts__mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $rareColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

// COLLABORATION

.collaboration__btn {
  background: #d41342;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: transparent;
  color: $primaryTextColor;
  width: 161.45px;
  height: 44px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    width: 191.45 px;
    height: 44px;
    margin-bottom: 0px;
    margin-right: 14.5px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
    height: 44px;
    margin-right: 15px;
  }
}

.collaboration__btn:hover,
.collaboration__btn:focus {
  background-color: #d41342;
  cursor: pointer;
}

.collaboration__btntwo {
  background: $primaryTextColor;
  border-radius: 22px;
  font-family: DM Sans;
  width: 161.45px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: transparent;
  color: $accentColor;
  @media screen and (min-width: 768px) {
    width: 174.05px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 44px;
  }
}

.collaboration__list {
  background: $sectionbgColor;
  display: grid;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.collaboration__svg {
  width: 4px;
  height: 8px;
  color: $primaryTextColor;
  margin-left: 10px;
}

.collaboration__svg-red {
  width: 4px;
  height: 8px;
  color: $accentColor;
  margin-left: 10px;
}