.customer-review{
    background-color: #ffffff;
    padding-bottom: 86px;
}

.customer-review-container{
    @media screen and(min-width: 768px){
        padding: 0 74px;
    }
    @media screen and(min-width: 1280px){
        padding: 0 177px;
    }
}

.review-article-container{
    background-color: #FAFAFA;
    padding: 23px 50px 20px 50px;
    margin-bottom: 14px;
    @media screen and(min-width: 768px) {
        padding: 10px 36px 28px 60px;
        margin-bottom: 8px;
    }
    @media screen and(min-width: 1280px){
        padding: 30px 190px 32px 200px;
        margin-bottom: -1px;
    }
    
}

.review-article{
    width: 100%;
    
    @include fonts(12px, 31px, 500);
    text-align: center;
    padding-left: 7px;
    padding-right: 16px;
    position: relative;
    z-index: 1;
    
    background-image: repeating-linear-gradient(transparent, transparent 28px, #E1E1E1 28px, #E1E1E1 29px, transparent 29px, transparent 59px, #E1E1E1 59px, #E1E1E1 60px);
    @media screen and(min-width: 768px){
        padding-left: 20px;
        padding-right: 44px;
        @include fonts(14px, 30px, 500, 0.04em);
    }
    @media screen and(min-width: 1280px){
        padding-left: 50px;
        padding-right: 70px;
        @include fonts(16px, 30px, 500, 0.04em);
    }
    
}

.customer-quotes{
    width: 67px;
    height: 55px;
    position: absolute;
    
    z-index: -1;
    top: -22px;
    left: -20px;
    fill: #E1E1E1;
    @media screen and(min-width: 768px){
        top: -22px;
        left: -16px;
    }
    @media screen and(min-width: 1280px){
        top: -22px;
        left: 15px;
    }
}

.customer-img{
    width: 85px; 
    margin: 0 auto;
    margin-bottom: 29px;
    @media screen and(min-width: 768px){
        margin-bottom: 19px;
    }
    @media screen and(min-width: 1280px){
        margin-bottom: 15px;
    }
}

.dots{
    margin-bottom: 18px;
    text-align: center;
    @media screen and(min-width: 768px){
        margin-bottom: 14px;
    }
    @media screen and(min-width: 1280px){
        margin-bottom: 15px;
    }

}

.dots__item{
    display: inline-block;
    width: 4px;
    height: 4px;
    & + &{
        margin-left: 10px;
    }
}

.dots__icon{
    width: 100%;
    height: 100%;
    fill: #c7133e;
}

.slider-container{
    margin: 0 auto;
}

.customer-name{
    text-align: center;
    @include fonts(14px, 26px, 500);
    margin-bottom: 30px;
    @media screen and(min-width: 768px){
        margin-bottom: 35px;
        @include fonts(16px, 30px, 500);
    }
    @media screen and(min-width: 1280px){
        @include fonts(20px, 37px, 500);
    }
}
.slick-prev, .slick-next {

    @media screen and(min-width: 768px){
        width: 30px;
        height: 30px;
    }
    @media screen and(min-width: 1280px){
        width: 40px;
        height: 40px;
    }
    
    &::before{
    
        @media screen and(min-width: 768px){
            font-size: 30px;
        }
        @media screen and(min-width: 1280px){
            font-size: 40px;
        }
    }
    
    
}

.slick-prev{
    left: 10px;
    @media screen and(min-width: 768px){
        left: 30px;
    }
    @media screen and(min-width: 1280px){
        left: 130px;
    }
}

.slick-next{
    right: 10px;
    @media screen and(min-width: 768px){
        right: 30px;
    }
    @media screen and(min-width: 1280px){
        right: 130px;
    }
}