.footer {
  background-color: #fff5f6;
}

.footer__block {
  max-width: 480px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.footer__slogan-list {
  margin-bottom: 43px;
  width: 232px;

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-bottom: 91px;
  }

  @media screen and (min-width: 1280px) {
    width: 477px;
    margin-bottom: 97px;
  }
}

.footer__slogan-item {
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.footer__slogan-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.footer__slogan-text--second {
  font-size: 34px;
  letter-spacing: 0.04em;
  color: $accentColor;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.footer__aside {
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.footer__soc-list {
  display: flex;
  height: 32px;
  justify-content: flex-end;
}

.footer__soc-list--top {
  margin-bottom: 46px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.footer__soc-item {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1080px) {
    margin-right: 25px;
  }
}

.footer__soc-link {
  fill: #fea5bb;
  transition: fill $animation;

  &:focus,
  &:hover {
    fill: $accentColor;
  }
}

.footer__address {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.01em;
  text-align: right;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    letter-spacing: 0.02em;
  }
}

.footer__tel {
  color: $accentColor;
}

.footer__copyright {
  padding: 22px 86px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907e82;

  @media screen and (min-width: 768px) {
    padding: 29px 0 18px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1280px) {
    padding: 9px 0 10px;
  }
}
