.hero{
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    background-color: $pinkbgСolor;

    @media screen and (min-width: 768px){
        height: 400px;
    }
    @media screen and (min-width: 1280px){
        height: 665px;
    }
}
.hero__box{
    position: relative;
    max-width: 320px;
    height: 100%;
    @media screen and (min-width: 768px){
        max-width: 768px;
    }
    @media screen and (min-width: 1280px){
        max-width: 1280px;
    }
}
.hero__bg-circle{
    width: 346px;
    height: 344px;
    fill: $pinkbgCircle;
    position: absolute;
    right: -20%;
    bottom: 75px;
    z-index: 1;
    animation: showRight 3s, pulsation 2s linear 3s infinite;
    
    @keyframes showRight {
        from {right:-100%;}

        to {right:-20%;}
        
    }

    @keyframes pulsation {
        0% {transform: scale(1);}

        20% {transform: scale(1.1);}

        40% {transform: scale(1);}

        60% {transform: scale(1);}

        80% {transform: scale(1.1);}

        100% {transform: scale(1);}
    }

    @media screen and (min-width: 768px){
        width: 324px;
        height: 322px;
        right: 20%;
        bottom: 45px;
        @keyframes showRight {
        from {right:-100%;}

        to {right:20%;}
    }
    }
    @media screen and (min-width: 1280px){
        width: 538px;
        height: 538px;
        bottom: 75px;

    }
}
.hero__content{
    max-width: 218px;
    position: absolute;
    z-index: 3;
    @media screen and (max-width: 767px){
    top: 50%;
    transform: translateY(-50%);
}
    @media screen and (min-width: 768px){
        max-width: 162px;
        top: 25%;
    }
    @media screen and (min-width: 1280px){
        max-width: 277px;
        left: 10%;
    }
}
.hero__title{
    font-family: Titan One;
    @include fonts(26px, 30px, 400, 0.04em);
    text-transform: uppercase;
    color: $primaryTextColor;

    @media screen and (min-width: 768px){
        @include fonts(22px, 25px);
    }
    @media screen and (min-width: 1280px){
        @include fonts(38px, 44px);
    }
}
.hero-content__navigation{
    display: flex;
    padding-top: 25px;
    @media screen and (min-width: 1280px){
        padding-top: 40px;
    }
}
.hero__title span{
    font-family: Titan One;
    @include fonts(48px, 46px, 400, 0.04em);
    text-transform: uppercase;
    color: $accentColor;

    @media screen and (min-width: 768px){
        @include fonts(34px, 31px);
    }
    @media screen and (min-width: 1280px){
        @include fonts(58px, 52px);
    }
}
.hero__btn-left{
    background: $accentColor;
    border-radius: 22px;
    border-width: 0;
    margin-right: 8px;
    padding: 9px 14px;
    cursor: pointer;
    @include fonts(8px, 10px, 400);
    text-align: center;
    color: $primaryTextColor;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);

    transition: background $animation;

    &:hover,
    &:focus{
        background: $hoverBtn;
    }

    @media screen and (min-width: 1280px){
        @include fonts(14px, 18px);
        padding: 15px 23px;
        margin-right: 15px;
    }
}
.hero__btn-right{
    background: $primaryTextColor;
    border-radius: 22px;
    border-width: 0;
    padding: 9px 14px;
    cursor: pointer;
    @include fonts(8px, 10px, 400);
    text-align: center;
    color: $accentColor;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);

    transition: background $animation;

    &:hover,
    &:focus{
        background: $secondaryhoverBtn;
    }

    @media screen and (min-width: 1280px){
        @include fonts(14px, 18px);
        padding: 15px 23px;
    }
}
.hero__milk{
    width: 124px;
    height: 126px;
    position: absolute;
    bottom: 28px;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1280px){
        width: 188px;
        height: 191px;
        bottom: 45px;
        left: 6%;
    }
    animation: showLeft 1s;
    @keyframes showLeft {
        from {left:-100%;}

        to {left:6%;}
    }
}
.hero__icecream{
    width: 175px;
    height: 410px;
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 2;
    animation: showBottom 2s;
    @keyframes showBottom {
        from {bottom:-100%;}

        to {bottom:0;}
    }
    @media screen and (min-width: 768px){
        width: 143px;
        height: 336px;
        right: 32%;
    }
    @media screen and (min-width: 1280px){
        width: 236px;
        height: 557px;
        right: 35%;
    }
}
.hero__inform{
    max-width: 114px;
    position: absolute;
    bottom: 34px;
    left: 20%;
    @include fonts(8px, 12px);
    color: $primaryTextColor;
    animation: showText 3s;
    @keyframes showText {
        from {opacity:0;}

        to {opacity:1;}
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1280px){
        max-width: 200px;
        bottom: 56px;
        @include fonts(14px, 20px);
    }
}
.hero__btn-expand{
    width: 18px;
    height: 18px;
    padding: 0;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    transition: transform $animation;
    @media screen and (min-width: 1280px){
        width: 24px;
        height: 24px;
        margin-top: 20px;
    }
    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}
.hero__icon{
    width: 100%;
    height: 100%;
}
.representation-list{
    position: absolute;
    top: 25%;
    right: 5%;

    animation: showTop 2s;
    @keyframes showTop {
        from {top:-100%;}

        to {top:25%;}
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1280px){
        right: 8%;
    }
}
.representation-list__item{
    position: relative;
    display: flex;
    width: 51px;
    height: 44px;
    text-align: right;
    z-index: 2;
    cursor: pointer;
    color: #ffffff;

    @media screen and (min-width: 1280px){
        width: 92px;
        height: 76px;
    }
&:hover .representation-list__link,
&:focus .representation-list__link{
    color: $accentColor;
}
&:hover .representation-list__icon,
&:focus .representation-list__icon{
    width: 120%;
    height: 120%;
}
&:not(:last-child){
    margin-bottom: 13px;
    @media screen and (min-width: 1280px){
        margin-bottom: 15px;
    }
}
}
.representation-list__link {
    @include fonts(8px, 10px);
    color: $primaryTextColor;
    @media screen and (min-width: 1280px){
        @include fonts(14px, 18px)
    }
    transition: color $animation;
}
.representation-list__item span{
    font-family: Titan One;
    @include fonts(28px, 32px, 400, 0.04em);
    text-transform: uppercase;
    color: $accentColor;

    @media screen and (min-width: 1280px){
        @include fonts(46px, 53px)
    }
    
}
.representation-list__icon{
    width: 16px;
    height: 16px;
    position: absolute;
    right: -10px;
    top: 0;
    fill: $primaryTextColor;
    z-index: -1;

    @media screen and (min-width: 1280px){
        width: 30px;
        height: 30px;
        right: -18px;
    }
    transition: width, height $animation;
    animation: pulsation 2s linear 3s infinite; 
}
.hero__client{
    width: 168px;
    height: 133px;
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: 2;
    animation: showBottom 2s;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1280px){
        width: 293px;
        height: 232px;
        right: 9%;
    }
}
