
/* --------------------OVERLAY---------------------- */
.backdrop { /*overlay модального окна*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 103;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --СКРЫВАЕТ МОДАЛЬНОЕ ОКНО И OVERLAY, В НЕ АКТИВНОМ СОСТОЯНИИ-- */
.backdrop.is-hidden {  /*Скрывает модальное окно*/
    opacity: 0;
    pointer-events: none; /*позволяет производить действия через слой модального окна*/
    visibility: hidden;

    & .modal {
        transform: scale(0.5);
    }
}

/* -------------------- Модальное окно--------------------- */
.modal {  /*модальное окно*/
    position: relative;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);*/ /*Позиционирование модального окна по центру, относительно backdrop*/
    z-index: 105;
    transform: scale(1);

    border-radius: 20px;
    background-color: $titleColor;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    max-width: 100%;
    height: auto;

    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        padding: 40px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 528px;
        min-height: 581px;
    }
}

.modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;

    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.modal__icon-btn {
    width: 30px;
    height: 30px;
    fill: $primaryTextColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__button:hover &, .modal__button:focus & {
        fill: $hoverBtn;
    }
}

/* -----------------Форма модального окна--------------- */
.modal-form {
    @include fonts(14px, 18.23px, 400, 0.03em);
    color: $primaryTextColor;
    text-align: left;
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;

    @include fonts(16px, 20.83px, 700, 0.02em);
    color: $primaryTextColor;
    text-align: center;
}

.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.modal-form__radio {
    margin-bottom: 10px;
}

.modal-form__label {
    margin-bottom: 4px;
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    &.form__label--radio:hover, &.form__label--radio:focus {
        color: $hoverBtn;
    }
}

.modal-form__input {
    padding: 12px 16px 12px 35px;
    max-width: 100%;
    border: 2px solid transparent;
    border-radius: 12px;
    color: $hoverBtn;
    @include fonts(12px, 15.62px, 400, 0.02em);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__fild-coments & {
        resize: none;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }

    &:hover, &:focus {
        border-color: $hoverBtn;
    }
}

.modal-form__icon {
    position: absolute;

    pointer-events: none;
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 11px;
    fill: $titleColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover + &, .modal-form__input:focus + & {
        fill: $hoverBtn;
    }
}

.radio-input {
    position: absolute;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__label--radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .radio-input:checked + & {
        color: $hoverBtn;
    }
}

.form__radio-icon {
    width: 15px;
    height: 15px;
    border: 2px solid $primaryTextColor;
    border-radius: 50%;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .radio-input:checked + .form__label--radio > & {
        border-color: $hoverBtn;
        background-color: $titleColor;
        fill: $hoverBtn;
    }
}


.modal-form__fild-coments {
    margin-bottom: 20px;
}

.modal-form__coments {
    padding: 12px;
    &::placeholder {
        @include fonts(12px, 15.62px, 400, 0.02em);
        color: $titleColor;
    }
}


.modal-form__checkbox-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media screen and (min-width: 460px) {
        margin-bottom: 30px;
    }
}

.modal-form__checkbox-label {
    display: flex;
    align-items: center;

        @include fonts(12px, 15.62px, 400, 0.02em);
        color: $primaryTextColor;
    

    @media screen and (min-width: 1200px) {
        @include fonts(14px, 18.23px, 400, 0.03em);
        color: $primaryTextColor;
    }
}

.modal-form__checkbox-input { /* ---------Скрываем чекбокс-----------*/
    position: absolute;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-form__checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid $primaryTextColor;
    border-radius: 2px;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__checkbox-input:checked + .modal-form__checkbox-label > & {
        border-color: $hoverBtn;
        background-color: $titleColor;
        fill: $hoverBtn;
    }
}

.modal-form__link {
    color: $hoverBtn;
    margin-left: 2px;
    @media screen and (min-width: 425px) {
        margin-left: 3px;
    }
}

.modal-form__btn {
    display: block;
    background-color: $primaryTextColor;
    font-family: inherit;
    @include fonts(16px, 20.83px, 700, 0.02em);
    color: $accentColor;
    cursor: pointer;
    text-align: center;
    border: transparent;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 160px;
    height: 44px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $hoverBtn;
        color:$primaryTextColor;
    }
}