.section__products {
  background-color: #ffffff;
}
.products--container {
  padding-top: 120px;
  padding-bottom: 100px;
}
.products__label {
  font-family: Titan One;
  @include fonts(18px, 21px, 400, 0.04em);
  text-transform: uppercase;
  color: $titleColor;
  text-align: center;
}
.products__main-title {
  font-family: Titan One;
  @include fonts(34px, 39px, 400, 0.04em);
  text-transform: uppercase;
  color: $accentColor;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
}
.products__item {
  width: 100%;
  min-height: 485px;
  border-radius: 24px;
  margin-top: 130px;
  padding: 160px 40px 40px 40px;
}
.products__item--pink {
  background-color: $pinkbgСolor;
}
.products__item--yellow {
  background-color: $vanillabgColor;
}
.products__item--green {
  background-color: $greenbgColor;
}
.products__title {
  font-family: Titan One;
  @include fonts(20px, 23px, 400, 0.04em);
  text-transform: uppercase;
  color: $primaryTextColor;
  text-align: center;
  margin-bottom: 66px;
}
.products__paragraph {
  font-family: DM Sans;
  @include fonts(14px, 23px, 700, 0.04em);
  text-align: center;
  color: $primaryTextColor;
  margin-bottom: 30px;
}
.products__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 auto;
}
.next-btn {
  width: 100%;
  height: 100%;
}
