li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

