$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;
$accentColor: #d41443;
$titleColor: #ffa5ba;
$rareColor: #907e82;
$hoverBtn: #c7133e;
$secondaryhoverBtn: #ecebeb;

$pinkbgСolor: #ffb8ca;
$pinkbgCircle: #ffa5ba;
$vanillabgColor: #f0d1a5;
$greenbgColor: #c2e297;
$sectionbgColor: #fff5f6;
$rarebgColor: #fafafa;
$mobilebgMenu: #e17992;

$cardsShadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$mobilemenuShadow: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

$animationTime: 250ms;
$animationFunction: cubic-bezier(0.4, 0, 0.2, 1);
