@charset "UTF-8";
<<<<<<< Updated upstream
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
=======
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
}

.visually-hidden {
  /*--- Скрывает элементы----*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
>>>>>>> Stashed changes
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

<<<<<<< Updated upstream
=======
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

>>>>>>> Stashed changes
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

<<<<<<< Updated upstream
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
=======
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
>>>>>>> Stashed changes
  }
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

<<<<<<< Updated upstream
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__section {
  width: 220px;
  height: 427px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px 43px 21px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__section {
    margin-left: auto;
=======
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header-box {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

@media screen and (min-width: 768px) {
  .header-box {
    height: 87px;
  }
}

@media screen and (min-width: 1280px) {
  .header-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1279px) {
  .header-logo {
>>>>>>> Stashed changes
    margin-right: auto;
  }
}

<<<<<<< Updated upstream
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__section {
    height: 544px;
    margin-bottom: 81px;
    margin-right: 20px;
    padding: 50px 32px 50px 31px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__section {
    width: 330px;
    height: 572px;
    margin-bottom: 86px;
    margin-right: 31px;
    margin-left: 0px;
    padding: 51px 44px 62px 43px;
  }
  .contacts__section:last-child {
    margin-right: 0px;
  }
}

.contacts__section-last {
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .contacts__section-last {
    margin-right: 0px;
  }
}

.contacts__category {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  border-radius: 6px;
  background-color: #f0d1a5;
  color: #ffffff;
  margin-bottom: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px 5px 10px;
}

@media screen and (min-width: 768px) {
  .contacts__category {
    font-size: 16px;
    margin-bottom: 30px;
=======
@media screen and (max-width: 1279px) {
  .menu-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #e17992;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 254px;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 1279px) and (min-width: 480px) {
  .menu-container {
    width: 254px;
  }
}

@media screen and (max-width: 1279px) {
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
}

.menu-container .menu-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .menu-button.menu-button--dist {
    margin-right: 30px;
>>>>>>> Stashed changes
  }
}

@media screen and (min-width: 1280px) {
<<<<<<< Updated upstream
  .contacts__category {
    margin-bottom: 32px;
  }
}

.contacts__categorycity {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__categorycity {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__categorycity {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__describe {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__describe {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__describe {
    font-size: 16px;
  }
}

.contacts__describe::after {
  content: '';
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__describe::after {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.contacts__timeday {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts__timeday {
    font-size: 14px;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contacts__time {
    font-size: 14px;
  }
}

.contacts__time-weekend {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__time-weekend {
    font-size: 14px;
    margin-bottom: 16px;
=======
  .menu-button {
    display: none;
  }
}

.menu-close {
  margin-bottom: 23px;
  margin-right: 21px;
}

.menu-button__icon {
  width: 40px;
  height: 40px;
  fill: #d41443;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__icon.menu-button__close {
  fill: #ffffff;
}

.menu-button:hover .menu-button__icon, .menu-button:focus .menu-button__icon {
  fill: #c7133e;
}

.menu-button:hover .menu-button__icon.menu-button--hover, .menu-button:focus .menu-button__icon.menu-button--hover {
  fill: #907e82;
}

.header-button {
  background-color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.30187;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #d41443;
  cursor: pointer;
  text-align: center;
  border: transparent;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  width: 160px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button.header-button--hide {
  width: 209px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header-button.header-btn--hide {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-button.header-button--hide {
    display: none;
  }
}

.header-button:hover, .header-button:focus {
  background-color: #ecebeb;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .header-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .header-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-list__item {
  height: 40px;
}

@media screen and (max-width: 1279px) {
  .header-list__item {
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
>>>>>>> Stashed changes
  }
}

@media screen and (min-width: 1280px) {
<<<<<<< Updated upstream
  .contacts__time-weekend {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.contacts__list::before {
  content: '';
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__list::before {
    margin-top: 30px;
    margin-bottom: 30px;
=======
  .header-list__item {
    height: 100%;
  }
  .header-list__item:not(:last-child) {
    margin-right: 35px;
  }
}

.header-list__link {
  font-size: 14px;
  line-height: 1.30214;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1279px) {
  .header-list__link {
    margin-left: 21px;
>>>>>>> Stashed changes
  }
}

@media screen and (min-width: 1280px) {
<<<<<<< Updated upstream
  .contacts__list::before {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts__list {
  padding: 0;
}

.contacts__item {
  list-style: none;
}

.contacts__mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__mail {
    font-size: 16px;
  }
}

.contacts__tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__tel {
    font-size: 16px;
  }
}

.collaboration__btn {
  background: #d41342;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
=======
  .header-list__link {
    font-size: 16px;
    line-height: 1.30187;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header-list__link:hover, .header-list__link:focus {
  color: #d41443;
}

.header-list__link.link--current {
  color: #d41443;
}

.section__products {
  background-color: #ffffff;
}

.products--container {
  padding-top: 120px;
  padding-bottom: 100px;
}

.products__label {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  text-align: center;
}

.products__main-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14706;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15px;
  text-align: center;
}

.products__item {
  width: 100%;
  min-height: 485px;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
  position: relative;
}

.products__item:not(:first-child) {
  margin-top: 130px;
}

.products__item:nth-child(1) {
  margin-top: 144px;
}

.products__item--pink {
  background-color: #ffb8ca;
}

.products__item--yellow {
  background-color: #f0d1a5;
}

.products__item--green {
  background-color: #c2e297;
}

.products__title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.products__paragraph {
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.64286;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.products__btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 auto;
}

.next-btn {
  width: 100%;
  height: 100%;
}

.products__icon {
  fill: #ffffff;
  width: 26px;
  height: 6px;
>>>>>>> Stashed changes
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< Updated upstream
  text-align: center;
  border: transparent;
  color: #ffffff;
}

.collaboration__btn:hover,
.collaboration__btn:focus {
  background-color: #d41342;
  cursor: pointer;
}

.collaboration__btntwo {
  background: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
=======
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.products__photo {
  position: absolute;
  width: 250px;
  height: 250px;
  top: -113px;
  left: 20px;
}

.about-section {
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #fff5f6;
}

.about__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14706;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

.about__image-cow {
  background-image: url(/images/about-cow-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-bottom: 46px;
  width: 280px;
  height: 280px;
}

.about__container {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.about__text {
  font-size: 12px;
  line-height: 1.58333;
  font-weight: 500;
  letter-spacing: 0;
}

.about__text_black {
  color: #000000;
  margin-bottom: 40px;
}

.about__text_gray {
  color: #907e82;
}

.about__text_indent {
  margin-bottom: 20px;
}

.about__button {
  min-width: 176px;
  margin-top: 17px;
  background: #ffffff;
  border-radius: 22px;
  border: transparent;
  padding: 12px 39px 12px 36px;
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
  letter-spacing: 0;
  color: #d41443;
>>>>>>> Stashed changes
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< Updated upstream
  text-align: center;
  border: transparent;
  color: #d41443;
}

.collaboration__btntwo:hover,
.collaboration__btntwo:focus {
  background-color: #ecebeb;
  cursor: pointer;
}

.collaboration__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .collaboration__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
=======
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}

.about__button-icon {
  margin-left: 13px;
}

.about__image-milk {
  display: block;
  position: absolute;
  top: 180px;
  left: -18px;
  right: -10px;
}

.section {
  padding-bottom: 97px;
  background-color: #fff5f6;
}

.advantage-list {
  padding-left: 0;
  padding-right: 0;
}

.advantage-list__item {
  width: 230px;
  margin-bottom: 38px;
}

.advantage-list__icon {
  margin-bottom: 16px;
}

.advantage-list__title {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.13889;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  height: 50px;
}

.advantage-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  color: #000000;
}

.gallery {
  padding-bottom: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #fff5f6), color-stop(5%, #fff5f6), color-stop(5%, #ffffff), color-stop(50%, #ffffff));
  background: linear-gradient(to bottom, #fff5f6 22%, #fff5f6 5%, #ffffff 5%, #ffffff 50%);
}

.review-article-container {
  background-color: #FAFAFA;
  padding: 43px 50px 26px 50px;
}

.review-article {
  width: 100%;
  font-size: 12px;
  line-height: 2.58333;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 7px;
  position: relative;
  padding-right: 16px;
  background-image: repeating-linear-gradient(transparent, transparent 28px, #E1E1E1 28px, #E1E1E1 29px, transparent 29px, transparent 59px, #E1E1E1 59px, #E1E1E1 60px);
}

.review-article--before::before {
  content: url(../images/symbol-defs.svg#icon-ustomer-quotes);
  position: absolute;
  width: 67px;
  height: 55px;
  z-index: 1000;
  top: 20px;
  left: 61px;
  fill: #E1E1E1;
}

.customer-img {
  width: 85px;
  margin: 0 auto;
>>>>>>> Stashed changes
}
/*# sourceMappingURL=main.css.map */