<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Our advantages</h2>
        <ul class="advantage-list">
            <li class="advantage-list__item">
                <div class="advantage-list__icon">
                   <svg width="33" height="50">
                        <use href="/images/symbol-defs.svg#icon-advantages-icecream"></use>
                  </svg>
               </div>
               <h3 class="advantage-list__title">721</h3>
               <p class="advantage-list__text">First we take fresh milk from cows that will feed on alpine meadows.</p>
               
            </li>
            <li class="advantage-list__item">
                <div class="advantage-list__icon">
                   <svg width="50" height="50">
                        <use href="/images/symbol-defs.svg#icon-advantages-apples"></use>
                  </svg>
               </div>
                <h3 class="advantage-list__title">16<span>kg</span></h3>
               <p class="advantage-list__text">Then we add fresh, organic fruits to the milk.</p>
               
            </li>
            <li class="advantage-list__item">
                <div class="advantage-list__icon">
                   <svg width="44" height="50">
                        <use href="/images/symbol-defs.svg#icon-advantages-heart"></use>
                  </svg>
               </div>
                <h3 class="advantage-list__title">84</h3>
               <p class="advantage-list__text">As a result, we have a delicious milk-fruit ice cream.</p>
            </li>
        </ul>
    </div>
</section>
