<section class="contact" id="block5">
  <h2 class="visually-hidden">office</h2>

  <!-- первая карточка -->
  <ul>
    <div class="contacts container contacts-top">
      <div class="contacts__section">
        <div class="contacts__section-top">
          <p class="contacts__category">CAFE</p>
          <p class="contacts__categorycity">Chicago</p>
          <p class="contacts__describe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="contacts__list-schedule">
          <li class="contacts__timeday">
            Monday - Friday
            <p class="contacts__time-weekend">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__timeday">
            Saturday - Sunday
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__list">
          <li class="contacts__item link">
            <a href="tel:+610383766284" class="contacts__tel link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item link">
            <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
          </li>
        </ul>
      </div>

      <!-- вторая карточка -->

      <div class="contacts__section">
        <div class="contacts__section-top">
          <p class="contacts__category category-green">FODDTRUCK</p>
          <p class="contacts__categorycity">Los Angeles</p>
          <p class="contacts__describe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="contacts__list-schedule">
          <li class="contacts__timeday">
            Monday - Friday
            <p class="contacts__time-weekend">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__timeday">
            Saturday - Sunday
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__list">
          <li class="contacts__item link">
            <a href="tel:+610383766284" class="contacts__tel link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item link">
            <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <!-- третья карточка -->

      <div class="contacts__section">
        <div class="contacts__section-top">
          <p class="contacts__category">CAFE</p>
          <p class="contacts__categorycity">New York</p>
          <p class="contacts__describe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="contacts__list-schedule">
          <li class="contacts__timeday">
            Monday - Friday
            <p class="contacts__time-weekend">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__timeday">
            Saturday - Sunday
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__list">
          <li class="contacts__item link">
            <a href="tel:+610383766284" class="contacts__tel link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item link">
            <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>
  </ul>

  <ul class="collaboration__list">
    <li class="collaboration__item">
      <button type="button" class="collaboration__btn">
        Our Locations
        <svg class="collaboration__svg">
          <use href="./images/symbol-defs.svg#icon-vector-white"></use>
        </svg>
      </button>
    </li>

    <li class="collaboration__item">
      <button type="button" class="collaboration__btntwo">
        Franchise
        <svg class="collaboration__svg-red">
          <use href="./images/symbol-defs.svg#icon-vector-red"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
