<footer class="footer">
  <div class="footer__block container">

    <p class="footer__slogan">homemade ice cream made</p>

    <p class="footer__slogan footer__slogan--last">with passion</p>

    <ul class="footer__soc-list footer__soc-list--top">
      <li class="footer__soc-item"><a class="footer__soc-link" href="https://github.com" target="blank"><svg width="32"
            height="32">
            <use href="./images/symbol-defs.svg#icon-footer-github"></use>
          </svg></a></li>
      <li class="footer__soc-item"><a class="footer__soc-link" href="https://telegram.com" target="blank"><svg
            width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-footer-telegram"></use>
          </svg></a></li>
      <li><a class="footer__soc-link" href="https://facebook.com" target="blank"><svg width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-footer-facebook"></use>
          </svg></a></li>
    </ul>

    <address class="footer__address">Feel free to contact
      <a class="footer__tel" href="tel:+61(0)383766284">+61(0)383 766 284</a>
    </address>

  </div>
  <p class="footer__copyright">© 2019 - IceCream.
    All Rights Reserved. </p>
</footer>