<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <!-- <source
        srcset="./images/gallery_3x.jpg 1x, ./images/gallery_3x.webp 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/gallery_2x.jpg 1x, ./images/gallery_2x.webp 2x"
        media="(min-width:768px)"
      /> -->
      <source
        srcset="./images/gallery_1x.jpg 1x, ./images/gallery_1x.webp 2x"
        media="(min-width:320px)"
      />
      <img
        src="./images/gallery_1x.jpg"
        class="gallery__example-img"
        alt="Types of IceCream"
        width="100%"
      />
    </picture>
  </div>
</section>
