<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        srcset="./images/gallery_desktop1x.png 1x, ./images/gallery_desktop2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/gallery_tablet1x.png 1x, ./images/gallery_tablet2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery_mob1x.png 1x, ./images/gallery_mob2x.png 2x"
        media="(min-width: 320px)"
      />
      <img
        src="./images/gallery_mob1x.png"
        class="gallery__example-img"
        alt="Types of IceCream"
      />
    </picture>
  </div>
</section>
