<section class="hero" id="block1">

    <div class="container hero__box">
        <svg class="hero__bg-circle">
            <use href="images/symbol-defs.svg#icon-hero-circle"></use>
        </svg>
        <div class="hero__content">
            <h1 class="hero__title">ice cream made with <span>passion</span></h1>
            <ul class="hero-content__navigation">
                <li class="hero-content__item"><a href="#block4" class="hero__btn-left">Products</a></li>
                <li class="hero-content__item"><a href="#block3" class="hero__btn-right">How it’s made?</a></li>
            </ul> 
        </div>
        <picture class="hero__milk">
            <source media="(min-width: 1280px)" srcset="/images/hero-milk-desk.png 1x, /images/hero-milk-desk@2x.png 2x" />
            <source media="(min-width: 768px)" srcset="/images/hero-milk-tab.png 1x, /images/hero-milk-tab@2x.png 2x" />
            <img src="/images/hero-milk-desk.png" alt="mug of milk" width="188" height="191" />
        </picture>
        <div class="hero__inform">
            <p>Milk is the main ingredient in ice cream. The history of our milk - from its origin to finished products ...</p>
            <button type="button" class="hero__btn-expand">
                <svg class="hero__icon">
                    <use href="images/symbol-defs.svg#icon-products-arrow"></use>
                </svg>
            </button>
        </div>
        <picture class="hero__icecream">
            <source media="(min-width: 1280px)" srcset="/images/hero-icecream-desk.png 1x, /images/hero-icecream-desk@2x.png 2x"/>
            <source media="(min-width: 768px)" srcset="/images/hero-icecream-tab.png 1x, /images/hero-icecream-tab@2x.png 2x"/>
            <source media="(min-width: 480px)" srcset="/images/hero-icecream-mob.png 1x, /images/hero-icecream-mob@2x.png 2x"/>
            <img src="/images/hero-icecream-desk.png" alt="ice cream cone" width="170" height="410"/>
        </picture>
        <ul class="representation-list">
            <li class="representation-list__item">
                <a href="https://www.google.com/maps/place/GoIT/@50.4249619,30.531895,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4d96f5139689b:0xa1f7c65300bebad1!8m2!3d50.4249597!4d30.5340916" target="_blank" class="representation-list__link"><span>16</span> cafes</a>
                <svg class="representation-list__icon">
                    <use href="images/symbol-defs.svg#icon-hero-ellipse"></use>
                </svg>
            </li>
            <li class="representation-list__item">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="representation-list__link"><span>23</span> food trucks</a>
                <svg class="representation-list__icon">
                    <use href="images/symbol-defs.svg#icon-hero-ellipse"></use>
                </svg>
            </li>
        </ul>
        <picture class="hero__client">
            <source media="(min-width: 1280px)"
                srcset="/images/hero-girl-desk.png 1x, /images/hero-girl-desk@2x.png 2x" />
            <source media="(min-width: 768px)" srcset="/images/hero-girl-tab.png 1x, /images/hero-girl-tab@2x.png 2x" />
            <img src="/images/hero-girl-desk.png" alt="girl eating ice cream" width="293" height="232" />
        </picture>
    </div>
</section>
