<section class=" section__products" id="block4">

    <div class="container products--container ">
    <p class="products__label">100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul class="products">
        <li class="products__item products__item--pink">
            <div class="box"><picture>
                <source srcset="/images/products-desk1.png 1x , /images/products-desk1-2x.png 2x " media="(min-width: 1280px)">
    <source srcset="/images/products-tab1.png 1x , /images/products-tab1-2x.png 2x " media="(min-width: 768px)">
                <source srcset="/images/products-mob1.png 1x , /images/products-mob1-2x.png 2x " media="(min-width: 320px)">
            <img src="/images/products-mob1.png" alt="" class="products__photo">
            </picture>
            
            <h3 class="products__title">ice cream</h3>
            <svg class="products__icon">
                <use href="/images/symbol-defs.svg#icon-points"></use>
            </svg>
            <p class="products__paragraph">Ice CREAM - Ice cream is a frozen dessert made mainly from milk, cream, butter, sugar with the addition of flavors and
            odors.
            Ice cream can also be fruit (based on the juice and pulp of fruits and berries).</p>
</div><button type="button" class="products__btn">
    <svg class="next-btn">
        <use href="/images/symbol-defs.svg#icon-products-arrow"></use>
    </svg>
</button>
        </li>
        <li class="products__item products__item--yellow">
           <div class="box"><picture>
                            <source srcset="/images/products-desk2.png 1x , /images/products-desk2-2x.png 2x " media="(min-width: 1280px)">
                            <source srcset="/images/products-tab2.png 1x , /images/products-tab2-2x.png 2x " media="(min-width: 768px)">
                <source srcset="/images/products-mob2.png 1x , /images/products-mob2-2x.png 2x " media="(min-width: 320px)"> 
 <img src="/images/products-mob2.png" alt="" class="products__photo">
            </picture>
                       
            <h3 class="products__title">ice coffee</h3>
            <svg class="products__icon">
                <use href="/images/symbol-defs.svg#icon-points"></use>
            </svg>
            <p class="products__paragraph">Cold coffee or Ice coffee, ice coffee - a way to serve coffee drinks. It is often used as a soft drink. </p>
</div> <button type="button" class="products__btn">
    <svg class="next-btn">
        <use href="/images/symbol-defs.svg#icon-products-arrow"></use>
    </svg>
</button>
        </li>
        <li class="products__item products__item--green">
        <div class="box"> <picture>
                <source srcset="/images/products-desk3.png 1x , /images/products-desk3-2x.png 2x " media="(min-width: 1280px)">
                <source srcset="/images/products-tab3.png 1x , /images/products-tab3-2x.png 2x " media="(min-width: 768px)">
                <source srcset="/images/products-mob3.png 1x , /images/products-mob3-2x.png 2x " media="(min-width: 320px)"> 
                                 <img src="/images/products-mob3.png" alt="" class="products__photo">  
                                 </picture>

            <h3 class="products__title">milkshakes</h3>
            <svg class="products__icon">
                <use href="/images/symbol-defs.svg#icon-points"></use>
            </svg>
            <p class="products__paragraph">Milkshake - a dessert drink based on milk and ice cream. To give the cocktail different flavors, it is added syrups,
            jams, fruits, whipped cream, creams, grated chocolate and more. food ingredients. Milkshakes include any cocktails made
            from dairy products, not just ice cream.</p>
        </div> <button type="button" class="products__btn">
                <svg class="next-btn">
                    <use href="/images/symbol-defs.svg#icon-products-arrow"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>
</section>
